<section class="signup-container row justify-content-center">
    <!-- Linke Informations-Spalte -->
    <section class="left-section col-6 h-100">
        <div *ngFor="let role of ['lernende', 'lehrer', 'eltern']">
            <div *ngIf="selectedRole === role">
                <div class="info-content row justify-content-center">
                    <div class="col-8">
                        <h1>Registrieren</h1>
                        <h2 [ngSwitch]="role">
                            <ng-container *ngSwitchCase="'lernende'">Eine Weltklasse-Ausbildung für Jeden, überall. 100%
                                kostenlos.</ng-container>
                            <ng-container *ngSwitchCase="'lehrer'">Hilf jedem Schüler, mit einer personalisierten Übung
                                zum
                                Erfolg zu kommen. 100% kostenlos.</ng-container>
                            <ng-container *ngSwitchCase="'eltern'">Erstelle zunächst dein Eltern-Konto.</ng-container>
                        </h2>
                        <h2 [ngSwitch]="role">
                            <ng-container *ngSwitchCase="'lernende'">Melde dich an Khan Academy an, um individuelle
                                Hilfe zu
                                erhalten, oder lerne etwas völlig Neues. Wir werden alle deine Lernfortschritte
                                speichern.</ng-container>
                            <ng-container *ngSwitchCase="'lehrer'">
                                <ul style="list-style: disc; padding-left: 17px;">
                                    <li>NEU! <a href="https://www.khanacademy.org/khan-for-educators/k4e-us-demo"
                                            class="_l6cid9o">Khan für Lehrkräfte - Professionelle Lernressourcen</a>
                                    </li>
                                    <li>Auf Standards ausgerichteten Inhalt finden</li>
                                    <li>Übungsaufgaben, Videos und Artikel zuweisen</li>
                                    <li>Den Lernfortschritt der Schüler verfolgen</li>
                                    <li>Tritt Millionen von Lehrern und Schülern bei</li>
                                </ul>
                            </ng-container>
                            <ng-container *ngSwitchCase="'eltern'">Danach führen wir dich durch das Erstellen eines
                                Kontos
                                für dein Kind. Khan Academy ist eine großartige Möglichkeit für dein Kind, Hilfe zu
                                bekommen, bei dem was es in der Schule lernt oder etwas völlig Neues zu
                                lernen.</ng-container>
                        </h2>
                        <span>Durch Registrieren für bei der Khan Academy, stimmst du unseren <a href="/about/tos"
                                target="_blank" style="color: inherit;">Nutzungsbedingungen</a> und <a
                                href="/about/privacy-policy" target="_blank"
                                style="color: inherit;">Datenschutzrichtlinien</a> zu.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Registrierungsformular -->
    <section *ngIf="!showSignUpForm" class="right-section col-6 signup-form">
        <div class="row justify-content-center h-100">
            <div class="col-9 d-flex flex-column justify-content-start align-items-center">
                <app-user-role [selectedRole]="selectedRole" (roleChange)="selectedRole = $event"></app-user-role>
                <app-birthday-input *ngIf="selectedRole == 'lernende'" [(selectedDay)]="selectedDay"
                    [(selectedMonth)]="selectedMonth" [isUnderAge]="isUnderAge"></app-birthday-input>
                <app-register-button
                    *ngIf="(selectedMonth !== 'Monat' && selectedDay !== 'Tag' && checkAgeUnder()) || selectedRole !== 'lernende'"
                    (showSignUpFormChange)="showSignUpForm = $event"></app-register-button>
                <app-login-link></app-login-link>
            </div>
        </div>
    </section>
    <!--Formular fuer Under Age-->
    <app-under-age-form *ngIf="showSignUpForm && isUnderAge == true" (showSignUpFormChange)="showSignUpForm = $event"
        (isButtonDisabledChange)="isButtonDisabled = $event"></app-under-age-form>
    <!--Formular fuer Erwachsene-->
    <app-adult-form *ngIf="showSignUpForm && isUnderAge == false" (showSignUpFormChange)="showSignUpForm = $event"
        (isButtonDisabledChange)="isButtonDisabled = $event"></app-adult-form>
</section>